<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../style.css">
<title>Cadastro</title>
</head>
<body>
<h1>Cadastro de Projetos</h1>
	<form name="frmProjeto" th:action="@{/projeto}" th:object="${projeto}" method="POST">
		<label>Nome</label>
		<input type="text" name="nome" th:field="*{nome}" class="Caixa1" required><br>
		<label>Atividade</label>
		<input type="text" name="atividade" th:field="*{atividade}" class="Caixa1" required><br>
		<label>Data Inicial</label>
		<input type="text" name="dataI" th:field="*{dataI}" class="Caixa1" required><br>
		<label>Data Final</label>
		<input type="text" name="dataF" th:field="*{dataF}"  class="Caixa1" required><br>
		<label>Dependência</label>
		<input type="text" name="depende" th:field="*{depende}"  class="Caixa1" required><br>
		<input type="submit" class="Botao1" value="Salvar" onclick="validar()">
	</form>
	<script src="static/validador.js"></script>
</body>
</html>